#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.static-banner-container {
  background-color: #fff;
  color: #000;
  position: fixed;
  bottom: 0px;
  left: 0px;
  text-align: left;
  padding: 10px 20px;
}
.cookie-banner-header {
  font-size:18px;
  font-weight: 600;
}
.cookie-banner-footer {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px 10px 0px;
  width: auto;
}
button {
  border: 1px solid #c5c5c5;
  margin: 5px;
}
.modal-container {
  background-color: #fff;
  color: #000;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
}
.cookie-type-container {
  margin: 20px 10px;
  width: 300px;
}
.cookie-type-header-container {
  display: flex;
  justify-content: space-between;
}
.cookie-type-name {
  font-size: 16px;
  font-weight: 700;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}
.manage-cookies-modal-footer {
  display: flex;
  flex-direction: column;
}
.manage-cookies-modal-footer > div {
  display: flex;
  flex-grow: 1;
}
.manage-cookies-modal-footer > div > button {
  flex-grow: 1;
}
@media (max-width: 600px) {
  .cookie-banner-footer {
    display: flex;
    flex-direction: column-reverse;
  }
  .cookie-banner-footer  button {
    width: 100%
  }
}

.cookie-type-description {
  font-size: 0.9rem;
  color: #666;
  margin-top: 4px;
}